:root {
--color-dark: #212121;
--color-light: #f0f0f0;
}
body {
background-color: var(--color--light);
color: var(--color--dark);
}
body.dark {
background-color: var(--color--dark);
color: var(--color--light);
}